html
	-var title="Messages"
	include includes/head.pug
	body
		include includes/header.pug
		h1 Look at all these messages!
		section
			div.All
				each thing in result
					div.SeperateMessages
						h5 #{thing.title}
						p.thetext #{thing.body}
						p.timestamp #{thing.createdAt}

		include includes/footer.pug