html
	-var title="Messages"
	include includes/head.pug
	body
		include includes/header.pug
		main
			h1 Look at all these messages!
			section
				div.row
					each thing in result
						div.SeperateMessages.col.s12.col.m10.col.offset-m1
							h5 #{thing.title}
							p.thetext #{thing.body}
							p.timestamp.right-align #{thing.createdAt}
		include includes/footer.pug