html
	-var title="Messages"
	include includes/head.pug
	body
		h1 Message Board
		h2 Look at all these messages!
		section
			div.All
				each thing in result
					div.SeperateMessages
						h4 #{thing.title}
						p #{thing.body}