html
	-var title='Join the family'
	include includes/head.pug
	body
		script.
			$(document).ready(function () {
				var error = #{error}
				console.log(error)
					if ( error !== undefined ) {
						$('#emailnono').html("Sorry, #{usedemail} is already in use.")
						}
				$('#Submit').click(function(){
					if ( $('#password1').val()!== $('#password2').val() ){
					alert('Passwords don\'t match, please re-enter.')
						return false
					}
				})
			})
			
		h1 Join the fambam
		form(name='form', action='/register', method='post', onsubmit="return checkForm()")
			|  First name:
			br
			input(type='text', name='firstName')
			br
			|  Last name:
			br
			input(type='text', name='lastName')
			br
			|  Birthday:
			br
			input(type='date', name='birthDay')
			br
			|  Email:
			br
			input(type='email', name='emailAddress')
			br
			|  Password:
			br
			input#password1(type='password',pattern='.{8,}' title='8 characters minimum', name='pswrd')
			br
			|  Re-enter password:
			br
			input#password2(type='password',pattern='.{8,}' title='8 characters minimum', name='pswrd2')
			br
			br
			input#Submit(type='submit', value='Submit')

		h2#err-message= message
		h4#emailnono