html
	include includes/head.pug
	body
		include includes/header.pug
		h2  Hello, I found
		section.found 
			div.foundNames
				each found in data
					li.found Name: #{found.name} 
					li.found Lastname: #{found.lastname} 
					li.found Email: #{found.email}
					p
			div.clear

