html
	include includes/head.pug
	body
		include includes/header.pug
		h2  Who are you looking for?
		section.other
			form(autocomplete="off")
				div
					input#search(type='text', list='userlist', name='searchedname',placeholder="Name or Lastname")
					datalist#userlist
					input#searchbutton(type='submit', value='Submit')
				div
					ul#show-data
						include includes/searchbarscript.pug
				div.clear
					script.


