script.
		$( document ).ready(()=> {
			$('#searchbutton').on('click', function(e) { 
				e.preventDefault()
				console.log("clicked button")
				var showData = $('#show-data')

				//- $.post("/results", { searchedname: typed }, (res)=>{
				//- 		showData.empty()
				//- 		$.each(res, (i, name)=>{
				//- 		showData.append('<li> Name: '+res[i].name+'</li>'+'<li> Lastname: '+res[i].lastname+'</li>'+'<li> Email: '+res[i].email+'</li>'+'<p></p>')
				//- 		}
				//- 		) 	
				//- })
			})
		})