nav
	.nav-wrapper
		a.brand-logo(href='#') Logo
		ul#nav-mobile.right.hide-on-med-and-down
			li
				a(href='createpost') Create Post
			li
				a(href='myposts') My posts
			li
				a(href='allposts') All posts
			li
				a(href='logout') Log Out