nav
	.nav-wrapper
		a.brand-logo(href='#') nB
		ul#nav-mobile.right.hide-on-med-and-down
			li
			a(href='register') Register		

br
div
	.login
			div
				h2.white-text #{login}
				h4.white-text.right Login
			form(name='loginform' action='/login' method='post' onsubmit="return validateForm()")
				input#email.enter(type='email', name='email', placeholder='Email', required='required')
				input#password.enter(type='password', name='password', placeholder='Password', required='required')
				button.enter#Submit.btn.btn-primary.btn-block.btn-large(type='submit') Let me in.

			p.right.light-blue-text.error#err-message= message