div.kittyrelative
	div.kittyabsolute
		a(href='/messages')
			img#cat(src='/Images/cat.png', alt='Mountain View')
footer.page-footer
	.container
		.row
			.col.l6.s12
				p.footer.white-text Thank you for visiting this message board!
			//- div.kittyabsolute
			//- 	img#cat(src='/Images/cat.png', alt='Mountain View')
	.footer-copyright
		.container
			| © 2016