nav
	div.nav-wrapper
		a.brand-logo(href='/')
			i.material-icons message
			| Message Board
		a.button-collapse(href='#', data-activates='mobile-demo')
			i.material-icons menu
		ul.right.hide-on-med-and-down
			li
				a.bannertext(href='/messages') ALL MESSAGES
		ul#mobile-demo.side-nav
			li
				a.bannertext(href='/messages') ALL MESSAGES