head
	title #{title}
	link(rel='stylesheet', href='css/materialize.min.css')
	link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
	link(href='https://fonts.googleapis.com/css?family=Coiny|Indie+Flower|Proza+Libre', rel='stylesheet', <='', body='')
	link(rel='stylesheet', href='/style.css')
