html
	-var title='Welcome to notTumblr'
	include includes/head.pug
	body
		script.
			$(document).ready(function () {
				console.log("doc ready")
				$('#Submit').click(function(event) {
					if($('#emailAddress').val().trim().length === 0 || $('#pasword').val().trim().length === 0) {
						event.preventDefault();
						$('#err-message').html("Your username or password is empty.");
					}
				});
			});

		if user
			a(href='/myposts') My Posts
			br
			a(href='/logout') log out
		else 		
			h1 Welcome to notTumblr
			br
			form(action='/login' method='post')
				|  Email:
				br
				input#email(type='email', name='email')
				br
				|  Password:
				br
				input#password(type='password', name='password')
				br
				br
				input#Submit(type='submit', value='Submit')
				br
				a(href='/Register') Register
				br

		h2#err-message= message


