html
	-var title='Create Post'
	include includes/head.pug
	body
		if user
			include includes/loggedinnav.pug
			h5 #{user.name} #{user.lastname}
				form.bulletin(action='/redirectcreatepost', method='post')
					div.row
						div.col.s12.col.m8.col.offset-m2
							input.titlebar(type='text', autofocus, name='title', placeholder="Title" required)
						div.col.s12.col.m8.col.offset-m2
							textarea.messagearea(rows="10" cols="50" type='text', name="bericht" placeholder="Let it all out..." required)
						div.col.s12.col.m8.col.offset-m2.center-align
							input.enter#Submit.btn.btn-primary.btn-large.createbutton(type='submit', value='Post Message')
					
		else
			-var login='Please login to view this page'
			include includes/notloggedin.pug	