html
	-var title='Welcome to nodeBloggie'
	include includes/head.pug
	body
		if user
			include includes/loggedinnav.pug
			h5 Welcome back #{user.name} #{user.lastname}!
		else
			-var login=title
			include includes/notloggedin.pug	




