html
	-var title='Welcome to notTumblr'
	include includes/head.pug
	body
		script.
			$(document).ready(function () {
				console.log("doc ready")
				$('#Submit').click(function(event) {
					if($('#email').val().trim().length === 0 || $('#password').val().trim().length === 0) {
						event.preventDefault();
						$('#err-message').html("Your username or password is empty.");
					}
				});
			});
		if user
			nav
				.nav-wrapper
					a.brand-logo(href='#') Logo
					ul#nav-mobile.right.hide-on-med-and-down
						li
						a(href='My Posts') My posts
						li
						a(href='logout') Log Out
			a(href='/myposts') My Posts
			br
			a(href='/logout') log out
		else 
			nav
				.nav-wrapper
					a.brand-logo(href='#') Logo
					ul#nav-mobile.right.hide-on-med-and-down
						li
						a(href='register') Register			
			h1 Welcome to notTumblr
			br
			form(action='/login' method='post')
				|  Email:
				br
				input#email(type='email', name='email')
				br
				|  Password:
				br
				input#password(type='password', name='password')
				br
				br
				input#Submit(type='submit', value='Submit')
				br
				a(href='/Register') Register
				br

		h2#err-message= message



//- html
//- 	-var title='Join the family'
//- 	include includes/head.pug	
//- 		script.
//- 			$(document).ready(function () {
//- 				console.log("doc ready")
//- 				$('#submit').click(function(event) {
//- 					if($('#email').val().trim().length === 0 || $('#password').val().trim().length === 0) {
//- 						event.preventDefault();
//- 						$('#error-message').html("Your username or password is empty.");
//- 					}
//- 				});
//- 			});
//- 	body
//- 		if user
//- 			a(href='/profile') view profile
//- 			br
//- 			a(href='/logout') log out
//- 		else
//- 			form(action='/login' method='post')
//- 				label email
//- 				input#email(name='email' required)
//- 				label password
//- 				input#password(name='password' required)
//- 				input(type='submit' value='login' id='submit')

//- 		h2#error-message= message

//- html
//- 	-var title='Welcome to notTumblr'
//- 	include includes/head.pug
//- 	body
//- 		script.
//- 			$(document).ready(function () {
//- 				console.log("doc ready")
//- 				$('#Submit').click(function(event) {
//- 					if($('#email').val().trim().length === 0 || $('#password').val().trim().length === 0) {
//- 						event.preventDefault();
//- 						$('#error-message').html("Your username or password is empty.");
//- 					}
//- 				});
//- 			});

//- 		if user
//- 			a(href='/myposts') My Posts
//- 			br
//- 			a(href='/logout') log out
//- 		else 		
//- 			h1 Welcome to notTumblr
//- 			form(action='/login' method='post')
//- 				br
//- 				|  Email:
//- 				br
//- 				input#email(type='email', name='email')
//- 				br
//- 				|  Password:
//- 				br
//- 				input#password(type='password', name='password')
//- 				br
//- 				br
//- 				input#Submit(type='submit', value='Submit')
//- 				br
//- 				a(href='/Register') Register
//- 				br

//- 		h2#error-message= message





