html
	-var title='Join the family'
	include includes/head.pug
	body
		script.
			$(document).ready(function () {
					var error = #{error}
					console.log(error)
				if ( error !== undefined ) {
					$('#emailnono').html("Sorry, #{usedemail} is already in use.")
				}
			});

		h1 Join the fambam
		form(action='/register', method='post' required)
			|  First name:
			br
			input(type='text', name='firstName' required)
			br
			|  Last name:
			br
			input(type='text', name='lastName' required)
			br
			|  Birthday:
			br
			input(type='date', name='birthDay' required)
			br
			|  Email:
			br
			input(type='email', name='emailAddress' required)
			br
			|  Password:
			br
			input(type='password',pattern='.{8,}' title='8 characters minimum', name='pswrd' required)
			br
			br
			input#Submit(type='submit', value='Submit')

		h4#emailnono